.ant-notification {
  max-width: 90%;
}

.ant-btn.ant-btn-lg {
  height: 42px;
}

@media (max-width: 978px) {
  .ant-notification {
    top: 0px !important;
    max-width: 100%;
    margin: 0 auto;
  }
  .ant-notification-notice {
    border-radius: 0px;
  }
  .ant-notification .ant-notification-notice-close-x:after {
    font-size: 36px;
  }
}

div.ant-layout-header {
  z-index: 4;
}

.ant-upload-list-picture-card .ant-upload-list-item {
  width: 160px;
  height: 160px;
}

.ant-upload-list-picture-card .ant-upload-list-item-info:before {
  left: 0;
}

.ant-btn-danger,
.ant-btn.delete-btn {
  background-color: #f50;
  border-color: #f50;
  color: white;
}
.ant-btn-danger:hover,
.ant-btn.delete-btn:hover {
  background-color: #d84902;
  border-color: #d84902;
}
