@import './Antd.css';
@import './Antd-Override.css';

html,
body {
  background: #ececec;
}

.primary-color {
  color: #1a98fc;
}

.alert-color {
  color: #f50;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 24px;
  margin-top: 8px;
  display: block;
  font-family: AvenirNext-Regular, Helvetica Neue, lucida grande,
    PingFangHK-Light, STHeiti, Heiti SC, Hiragino Sans GB, Microsoft JhengHei,
    Microsoft Yahei, SimHei, WenQuanYi Micro Hei, Droid Sans, Roboto, Helvetica,
    Tahoma, Arial, 'sans-serif';
  text-transform: uppercase;
  color: rgb(85, 85, 85);
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 6px;
  background-image: url(/app_logo.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  float: left;
}

.sign-in-form-button {
  width: 100%;
}

.nav-user-logo {
  vertical-align: middle;
  margin-right: 10px;
  border: 2px solid #1a98fc;
  width: 42px;
  height: 42px;
  border-radius: 25px;
}

.fade-enter {
  opacity: 0.01;
  position: fixed;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.sign-in-modal .ant-tabs-nav-wrap,
.sign-in-modal .ant-tabs-bar {
  display: none;
}

/* Footer */
.help-modal .ant-modal-close {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 1px 3px #aaa;
  margin: 10px;
}

.help-modal .ant-modal-close span {
  font-size: 30px;
}

.help-modal .ant-modal-header {
  display: none;
}

.help-modal .ant-modal-body {
  padding: 0;
  background-color: rgb(66, 133, 244);
}

.help-modal .help-frame {
  width: 100%;
  border: none;
  min-height: 975px;
}

div.ant-layout-header {
  background: rgba(64, 64, 64, 0.96);
  z-index: 9999;
}
.ant-notification {
  top: 75px !important;
}
.ant-menu-dark {
  background: transparent;
}

#root {
  min-height: 100%;
  position: relative;
  background: #ececec;
}
.ant-layout-content {
  margin-top: 114px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 108px;
  padding-top: 24px;
  background: #fff;
}
.with-padding,
.ant-layout-content > div > div:not(.no-padding) {
  padding-right: 24px;
  padding-left: 24px;
}
.ant-layout-footer {
  clear: both;
  width: 100%;
  height: 84px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.error-page {
  text-align: center;
  width: 700px;
  margin: 84px auto;
  margin-bottom: 0;
}
.error-page h1 {
  color: #1a98fc;
}

.error-page hr {
  border: solid #ddd;
  border-width: 1px 0 0;
}
.error-page p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.monthChart .ant-tag,
.monthChart .ant-tag a,
.monthChart .ant-tag a:hover {
  height: 18px !important;
}

.hide {
  display: none;
}

.ant-table-pagination {
  float: none !important;
}

tr.newYear {
  background: #edf7ff;
}

.paymentPopover .ant-tag {
  margin: 5px;
}

.ant-message {
  top: 14px;
  z-index: 9999;
}

.home-screen {
  padding-top: 40px;
  padding-bottom: 40px;
}

.app-logo-image {
  border: 5px solid #ececec;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #bbb;
  margin-right: 30px;
  max-width: 100%;
}
.app-title {
  font-size: 36px;
}
.app-subtitle {
  padding-left: 14px;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
