div[data-evergreen-toaster-container] > span {
  z-index: 10000;
}

html,
body {
  margin: 0;
  background: #ececec;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 6px;
  margin-left: 0;
  background-image: url(/app_logo.png);
  background-size: 50px 50px;
  border: 1px solid white;
  border-radius: 8px;
  background-repeat: no-repeat;
  float: left;
}

.nav-user-logo {
  vertical-align: middle;
  margin-right: 10px;
  border: 2px solid #1a98fc;
  width: 42px;
  height: 42px;
  border-radius: 25px;
}

.footer *,
.header *,
.home-screen *,
h2,
h4 {
  font-family: 'Lato', sans-serif !important;
}
.headermenu {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.headermenu:hover {
  background: rgba(67, 90, 111, 0.04);
}
.header a,
.header .anchor {
  background: transparent;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header .anchor:hover,
.header .anchor:active,
.header a:hover,
.header a.active {
  color: hsla(0, 0%, 100%, 0.67);
}

.header a.active,
.header .anchor.active {
  background: rgba(255, 255, 255, 0.96);
  color: rgba(16, 142, 233, 0.6);
}

.headermenu.active span {
  color: rgba(255, 255, 255, 0.96);
}
.headermenu.active {
  color: rgba(255, 255, 255, 0.96);
  background: rgba(16, 142, 233, 1);
}

.fade-enter {
  opacity: 0.01;
  position: fixed;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.ant-menu-dark {
  background: transparent;
}

#root {
  min-height: 100%;
  position: relative;
  background: #ececec;
}

.error-page {
  text-align: center;
  width: 700px;
  margin: 84px auto;
  margin-bottom: 0;
}
.error-page h1 {
  color: #1a98fc;
}

.error-page hr {
  border: solid #ddd;
  border-width: 1px 0 0;
}
.error-page p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.hide {
  display: none;
}

tr.newYear {
  background: #edf7ff;
}

.paymentPopover .ant-tag {
  margin: 5px;
}

.ant-message {
  top: 14px;
  z-index: 9999;
}

.home-screen {
  padding-top: 40px;
  padding-bottom: 40px;
}

.app-logo-image {
  border: 5px solid #ececec;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #bbb;
  margin-right: 30px;
  max-width: 100%;
}

.ua-icons .mdi-icon {
  margin-right: 5px;
}
.ua-icons .chrome-icon {
  fill: #f4c20f;
}
.ua-icons .explorer-icon {
  fill: #0077d7;
}
.ua-icons .edge-icon {
  fill: #0077d7;
}
.ua-icons .safari-icon {
  fill: #108ee9;
}
.ua-icons .firefox-icon {
  fill: #e55b0a;
}
.ua-icons .ios-icon {
  fill: #323232;
}
.ua-icons .android-icon {
  fill: #76c258;
}
.ua-icons .opera-icon {
  fill: #ff1b2e;
}
