.ant-menu-item:not(.ant-menu-item-disabled) > span {
  height: 30px;
  padding: 6px;
  padding-left: 40px;
  background-image: url(../images/categories.png);
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0.87rem;
  line-height: 55px;
  height: 55px;
}

.category-card-header {
  background-image: url(../images/categories.png);
  background-repeat: no-repeat;
  background-size: 35px;
  vertical-align: middle;
  height: 35px;
  width: 35px;
  display: inline-block;
}

.icon-bar .ant-menu-inline .ant-menu-item,
.icon-bar .ant-menu-inline .ant-menu-submenu-title,
.icon-bar ul.ant-menu li.ant-menu-vertical .ant-menu-item {
  line-height: 55px;
  height: 55px;
}
.ant-menu-item .charity {
  background-position: 0px 0px;
}

.ant-menu-item .saving {
  background-position: 0px -30px;
}

.ant-menu-item .housing {
  background-position: 0px -60px;
}

.ant-menu-item .utilities {
  background-position: 0px -91px;
}

.ant-menu-item .food {
  background-position: 0px -120px;
}

.ant-menu-item .clothing {
  background-position: 0px -150px;
}

.ant-menu-item .transportation {
  background-position: 0px -181px;
}

.ant-menu-item .medical-health {
  background-position: 0px -210px;
}

.ant-menu-item .insurance {
  background-position: 0px -241px;
}

.ant-menu-item .personal {
  background-position: 0px -270px;
}

.ant-menu-item .recreation {
  background-position: 0px -301px;
}

.ant-menu-item .debts {
  background-position: 0px -331px;
}

.budget-category-row {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.budget-category-row .ant-card-head-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  color: rgb(85, 85, 85);
}
.budget-category-row .ant-card-extra {
  font-size: 22px;
}
.header-row {
  margin-bottom: 1.5rem;
}

.emptyList {
  padding: 2rem;
  font-size: 1rem;
  text-align: center;
}

.category-card-header-charity {
  background-position: 0px 2px;
}

.category-card-header-saving {
  background-position: 0px -34px;
}

.category-card-header-housing {
  background-position: 0px -69px;
}

.category-card-header-utilities {
  background-position: 0px -105px;
}

.category-card-header-food {
  background-position: 0px -140px;
}

.category-card-header-clothing {
  background-position: 0px -174px;
}

.category-card-header-transportation {
  background-position: 0px -211px;
}

.category-card-header-medical-health {
  background-position: 0px -245px;
}

.category-card-header-insurance {
  background-position: 0px -281px;
}

.category-card-header-personal {
  background-position: 0px -315px;
}

.category-card-header-recreation {
  background-position: 0px -350px;
}

.category-card-header-debts {
  background-position: 0px -386px;
}

.ant-input-number {
  width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 15px;
}

td.date-row {
  background-color: #f9f9f9;
}
