.headermenu {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.headermenu:hover {
  background: rgba(67, 90, 111, 0.04);
}
.header a,
.anchor span,
.header .anchor {
  background: transparent;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header .anchor:hover,
.header .anchor:active,
.anchor span:hover,
.anchor span:active,
.header a:hover,
.header a.active {
  color: hsla(0, 0%, 100%, 0.67);
}

.header a.active,
.anchor.active span,
.header .anchor.active {
  background: rgba(255, 255, 255, 0.96);
  color: rgba(16, 142, 233, 0.6);
}

.headermenu.active span {
  color: rgba(255, 255, 255, 0.96);
}
.headermenu.active {
  color: rgba(255, 255, 255, 0.96);
  background: rgba(16, 142, 233, 1);
}
