@import './Antd.css';
@import './Antd-Override.css';

.logo {
  width: 50px;
  height: 50px;
  margin: 6px;
  background-image: url(/app_logo.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  float: left;
}

.sign-in-form-button {
  width: 100%;
}

.nav-user-logo {
  vertical-align: middle;
  margin-right: 10px;
  border: 2px solid #69f;
  width: 42px;
  height: 42px;
  border-radius: 25px;
}

.fade-enter {
  opacity: 0.01;
  position: fixed;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
