@import './Antd.css';
@import './Antd-Override.css';

.text-right {
  text-align: right;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 6px;
  background-image: url(/app_logo.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  float: left;
}

.sign-in-form-button {
  width: 100%;
}

.nav-user-logo {
  vertical-align: middle;
  margin-right: 10px;
  border: 2px solid #69f;
  width: 42px;
  height: 42px;
  border-radius: 25px;
}

.fade-enter {
  opacity: 0.01;
  position: fixed;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.sign-in-modal .ant-tabs-nav-wrap,
.sign-in-modal .ant-tabs-bar {
  display: none;
}

/* Footer */
.help-modal .ant-modal-close {
  background: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 1px 3px #aaa;
  margin: 10px;
}

.help-modal .ant-modal-close span {
  font-size: 30px;
}

.help-modal .ant-modal-header {
  display: none;
}

.help-modal .ant-modal-body {
  padding: 0;
}

.help-modal .help-frame {
  width: 100%;
  border: none;
  min-height: 975px;
}
